/* Unisversal Stettings */

html {
	font-size: 18px;
}

h1,
h2,
h3, {
	font-family: 'Ramabhadra', sans-serif;
}

p,
li,
.footer,
.login-container span {
	font-family: 'Mako', sans-serif;
}

p,
.courses-item h3 {
	color: #7d7d7b;
}

body {
	min-width: 1122px;
}

/* Responsive Section */

@media only screen and (max-width: 560px) {
  body {
  	min-width: 0;
  }
}

/* Header */

header .container {
	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.logo-container span {
	font-size: 32px;
}

span .academy {
	color: grey;
}

.menu {
	margin-right: 24px;
}

.menu ul li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}

.truncated-menu {
	display: none;
	width: 100%;
}

/* Responsive Section */

@media only screen and (max-width: 560px) {
  header .logo-container,
  .menu ul {
    display: none;
  }

  .truncated-menu {
  	display: flex;
  	justify-content: space-around;
  }

  header .container {
    justify-content: flex-start;
    margin-left: -24px;
  }
}

/* Banner */

.banner-container {
	display: flex;
	background-color: #dedede;
}

.banner-container .img-container {
	width: 60%;
}

.banner-container img {
	width: 90%;
	min-width: 382px;
	min-width: 308px;
	margin: 32px 24px;
	display: block;
	overflow: hidden;
}

.login-container {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-container h1 {
	font-size: 3rem;
	margin-bottom: 30px;
}

.login-container h2 {
	font-size: 1.5rem;
	margin-bottom: 40px;
}

.login-container .button {

}

.login-container span {
	color: white;
	font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 400px;
    background-color: grey;
    text-align: center;
}

/* Responsive Section */

@media only screen and (max-width: 560px) {
    .banner-container {
	display: flex;
	flex-direction: column;
	background-color: #dedede;
    }

    .banner-container .img-container {
	width: 100%;
    }    

    .banner-container img {
	width: 100%;
	margin: 0;
    }

    .login-container h1 {
	margin-left: 16px;
	margin-top: 32px;
	margin-bottom: 32px;
	font-size: 2.6rem;
    }

    .login-container h2 {
    margin-left: 16px;
	margin-bottom: 24px;
    }

    .login-container span {
    width: auto;
	margin-bottom: 32px;
	margin-left: 16px;
	margin-right: 16px;
    }
}

/* Info Section */

.info-container {
	display: flex;
}

.main-info {
	width: 60%;
	margin-left: 24px;
	padding-right: 24px;
	padding-top: 32px;
	padding-bottom: 32px;
}

.main-info .img-container {
	width: 100%;
	margin-bottom: 32px;
}

.main-info .img-container img {
	width: 95%;
	display: block;
}

.main-info h1 {
	font-size: 3rem;
	margin-bottom: 24px;
}

.main-info p {
	margin-bottom: 50px;
	font-size: 1.2rem;
}

.main-info span {
	font-weight: bold;
}

.additional-info {
	width: 40%;
	padding-top: 16px;
	border-left: 1px solid #dedede;
}
.additional-info-item .image-container {      
	width: 35%;
	height: auto;
	margin: 16px;
}

.additional-info-item img {
	width: 100%;
	height: 100%;
}

.additional-info-item {
	display: flex;
	min-height: 180px;
}

.text-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}

.text-item h2 {
	font-weight: bold;
	font-size: 1.6rem;
}

.text-item p {
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 8px;
}

.text-item a {
  text-decoration: none;
}

.orientation {
	border-bottom: 1px solid #dedede;
}

.campus {
	margin-top: 1px;
	border-top: 1px solid #dedede;
}

#mobile {
	display: none;
}


/* Responsive Section */

@media only screen and (max-width: 560px) {
  .info-container .main-info {
    display: none;
    }

  .additional-info-item {
	flex-direction: column;
    }

  .additional-info {
	width: 100%;
	padding-top: 0;
	border-left: 0;
    }

  .additional-info-item .image-container {
	width: auto;
	height: auto;
	margin: 16px;
    }

  #desktop {
    display: none;
    }

  #mobile {
    display: block;
    }

  .text-item {
  	width: 100%;
  }

  .text-item h2,
  .text-item p,
  .text-item a {
    margin-left: 32px;
  }

  .text-item p,
  .text-item a {
    font-size: 1.1rem;
    width: auto;
  }

  .text-item h2 {
    margin-top: 20px;
  }

  .text-item span {
  	margin-bottom: 32px;
  }

  #mobile-bg {
  	background-color: white;
  }

  .orientation {
	border-bottom: 0;
  }

  .campus {
	margin-top: 0;
	border-top: 0;
  }

}

/* Courses */

.courses-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #edece9;
}

.courses-container .title {
	width: 100%;
	text-align: center;
    font-size: 3rem;
    margin-bottom: 32px;
    margin-top: 32px;
}

.courses-container .grid {
	display: flex;
	justify-content: center;
	padding-left: 56px;
	padding-right: 56px;
}

.courses-item {
	background-color: white;
	width: 30%;
	padding-bottom: 24px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 32px;
}

.courses-item .image-container {
	height: auto;
	width: 100%;
}

.courses-item .image-container img {
	width: 100%;
}

.courses-item h2 {
	margin-top: 16px;
	font-size: 1.7rem;
	font-weight: bold;
	margin-left: 16px;
}

.courses-item h3 {
	margin-left: 16px;
	margin-top: 8px;
	font-size: 1.1rem;
}

.mobile-grid {
	display: none;
}

/* Responsive Section */

@media only screen and (max-width: 560px) {
  .courses-container {
	border-top: 1px solid #dedede;
  	background-color: white;
  }

  .courses-container .grid {
  	display: none;
  }

  .mobile-grid {
  	display: block;
  	width: 100%;
  }

  .mobile-grid h2 {
  	width: auto;
    font-size: 1.7rem;
	font-weight: bold;
	background-color: #d4d3d1;
	padding-left: 16px;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-left: -24px;
	margin-right: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
  }

}

/* Thesis Exhibit */

.video-section-container {
	display: flex;
	flex-direction: column;
}

.video-section-container .title {
	width: 100%;
	text-align: center;
    font-size: 3rem;
    margin-bottom: 32px;
    margin-top: 32px;
}

.video-section-container .grid {
	display: flex;
}

.video-section-container .main-info {
	width: 60%;
	margin-left: 24px;
	margin-right: 24px;
	padding-top: 0;
}

video {
	width: 100%;
}

.video-section-container .main-info h4 {
	margin-top: 24px;
	font-size: 1.7rem;
	font-weight: bold;
}

.video-section-container p {
    margin-top: 8px;
    font-size: 1.2rem;
}

.additional-video-headline-container {
	width: 40%;
}

.additional-video-headline-container .item {
	display: flex;
}

.highlighted {
	background-color: #d4d3d1;
}

.video-container-mobile {
	display: none;
}

/* Responsive Section */
@media only screen and (max-width: 560px) {
  .video-section-container {
  	padding-bottom: 24px;
  }

  .video-section-container .grid {
  	display: none;
  }

  .video-container-mobile {
	display: block;
	width: 100%;
  }
}
/* Footer */

footer .container {
	border-top: 1px solid #dedede;
	padding-top: 16px;
	padding-bottom: 44px;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	justify-content: space-between;
}

footer ul li {
	display: inline;
	margin-left: 12px;
}

/* Responsive Section */
@media only screen and (max-width: 560px) {
  footer ul li {
	display: none;
  }

  footer .container {
	border-top: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 0.8rem;

}


}